* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
   
      .cardConteiner {
        display: flex;
        flex-direction: row;
        
        gap: 10px;
        margin: auto;
        width: 1200px;
        .componetCard {
          display: flex;
          flex-direction: column;
          width: fit-content;
          gap: 8px;
          div {
            display: flex;
            
            justify-content: space-between;
          }
        }
      }
    
  }
